<% @paintings.each do |painting| %>
<ul>
  <li><%= image_tag(painting.image) %></li>
  <li><%= painting.title %></li>
  <li><%= painting.medium %></li>
  <li><%= painting.year %></li>
  <li><%= painting.style %></li>
</ul>
<% end %>